<h1><%- title %></h1>
<%- messages() %>
<% if (errors) { %>
  <div id="messages">
    <ul class="error">
    <% errors.forEach(error => { %>
      <li><%= error.msg %></li>
    <%  }) %>
    </ul>
  </div>
<% } %>
<div class="register-container">
    <div class="form-hint">All fields are required</div>
    <form class="register-form" action="/account/register" method="post">
        <label for="firstname">First Name</label>
        <input type="text" id="firstname" name="account_firstname" required value="<%= locals.account_firstname %>">

        <label for="lastname">Last Name</label>
        <input type="text" id="lastname" name="account_lastname" required value="<%= locals.account_lastname %>">

        <label for="email">Email Address</label>
        <input type="email" id="email" name="account_email" required value="<%= locals.account_email %>">

        <label for="password">Password</label>
        <input type="password" id="password" name="account_password" required
               pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{12,}$">
        <div class="form-hint">Password must have at least 12 characters and has at least 1 uppercase character, 1 number and 1 special character.</div>

        <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a class="login-link" href="/account/login">Login here</a></p>
</div>