<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <div id="wrapper">
      <%- include('../partials/header') %>
      <!-- prettier-ignore -->
      <%- include('../partials/navigation')%>

      <main>
        <!-- prettier-ignore -->
        <%- body %>
      </main>

      <%- include('../partials/footer') %>
    </div>
  </body>
</html>